* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
}

#game {
    display: flex;
    justify-content: center;
}

table, td {
    /* border: 1px solid black; */
}

table {
    border-radius: 5px;
    width: 50%;
    height: 50%;
    /* align: center; */
}

td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    font-size: 2em;
}

td:hover {
    cursor: pointer;
    color: white;
    background-color: crimson;
}


.bordered {
    border: 1px solid black;
}