@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

* {
	margin: 0;
	padding: 0;
}

.wrapper { 
	height: 100%;
	width: 100%;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;
	-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
	animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@keyframes rainbow { 
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}

#header {
	margin-top: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header-row {
	display: flex;
	font-family: 'Signika', sans-serif;
	font-size: 1.5em;
	margin-top: 7px;
	margin-bottom: 7px;
	flex-direction: row;
}

#game {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

table {
	border-radius: 5px;
	width: 50%;
	height: 50%;
	background-color: rgb(241, 241, 241);
}

td {
	border: 1px solid black;
	width: 50px;
	text-align: center;
	height: 50px;
	font-size: 2em;
	transition: 0.5s;
}

td:hover {
	cursor: pointer;
	color: white;
	background-color: crimson;
}

.bordered {
	border: 1px solid black;
}

button {
	background-color: lightseagreen;
	border-radius: 8px;
	color: white;
	font-size: 1.1em;
	font-family: 'Signika', sans-serif;
	padding: 5px;
}